[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
psaw = "*"
praw = "*"
pyyaml = "*"
pytest = "*"
coverage = "*"
cobe = "*"
urwide = "*"

[requires]
python_version = "3.9"
